[user]
	name = Seth Gunnells
	email = seth.gunnells@asurion.com
[status]
	short = true
	branch = true
[push]
	default = current
[core]
	excludesfile = ~/.gitignore
[alias]
	ap = add --patch
	co = checkout
	cm = commit
	d = diff
	dc = diff --cached
	pfl = push --force-with-lease
	s = status
	tidy = !git branch --merged | ag -v \"^(\\*|master|develop)\" | xargs git branch -d
[pager]
	diff = diff-so-fancy | less --tabs=1,5 -RFX
	show = diff-so-fancy | less --tabs=1,5 -RFX
